// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.room {
    width: 100%;
    padding: 30px 60px;
}

.room-profile-city {
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.room-profile-name {
    font-size: 18px;
    font-weight: bold;
    color: #909090;
}

.room-profile-price {
    text-align: right;
    font-size: 16px;
    letter-spacing: 1px;
    color: black;
}

.room-frame-inner {
    margin-bottom: 10px;
    display: flex;
    box-sizing: border-box;
}
